footer {
    background-color: #1e1038;
    height: 10rem;
    margin-top: 5rem;
}

.p-container {
    padding-top: 1rem;
}

.border-top {
    border-top: 1px solid #00dbafda !important;
    margin-bottom: 1rem;
}

.p-footer {
    margin-top: 1rem;
    text-align: center;
    color: #00dbafda;
    font-size: 1.1em;
}